.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  background-color: #f9f9f9;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.featureSvg:hover {
  transform: scale(1.05);
}

.features h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.features p {
  font-size: 1rem;
  color: #666;
}
